In [149]:
# my usual imports and setups
import pylab as pl
import pandas as pd
import numpy as np

################################################
#This didn't work for me:
#imports downloader
#from getCitiBikeCSV import getCitiBikeCSV

%pylab inline

import os

##################################################################
#this makes my plots pretty! but it is totally not mandatory to do it
#import json
#s = json.load( open(os.getenv ('PUI2017')+"/fbb_matplotlibrc.json") )
#pl.rcParams.update(s)

##############
#import to run KS Test
import scipy.stats

Populating the interactive namespace from numpy and matplotlib

In [150]:
#verifying my PUIdata environmental variable checks out
os.getenv('PUIDATA')

'/home/cusp/dhi211/PUIdata'

In [151]:
#!ls /gws/open/Student/citibike

In [152]:
############################################################################
#Importing first month of dataset: July, 2017
#This will be called 'df1'

In [153]:
datestring = '201707'

In [154]:
df1 = pd.read_csv('/gws/open/Student/citibike/' + datestring + '-citibike-tripdata.csv.zip', compression='zip')
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2

In [ ]:
#######################################################

In [ ]:
datestring_secondset = '201701'

In [157]:
df2 = pd.read_csv('/gws/open/Student/citibike/' + datestring + '-citibike-tripdata.csv.zip', compression='zip')
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2

In [158]:
#########################################
#CONCATENATION!
df = pd.concat([df1, df2], axis=0)

In [159]:
################################################################
#manipulating columns to prepare for distribution analysis
#dataframe titled 'df' has both January (df2) and July (df1) 2017 concatenated together

In [160]:
df['date'] = pd.to_datetime(df1['starttime'])
df.head()

,bikeid,birth year,date,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,14744,1986.0,2017-07-01 00:00:00,3107,40.723117,-73.952123,Bedford Ave & Nassau Ave,1,539,40.715348,-73.960241,Metropolitan Ave & Bedford Ave,2017-07-01 00:00:00,2017-07-01 00:06:05,364,Subscriber
1,19587,1981.0,2017-07-01 00:00:03,3425,40.789210,-73.943708,2 Ave & E 104 St,1,293,40.730207,-73.991026,Lafayette St & E 8 St,2017-07-01 00:00:03,2017-07-01 00:35:46,2142,Subscriber
2,27937,1984.0,2017-07-01 00:00:08,3397,40.676395,-73.998699,Court St & Nelson St,2,3242,40.691029,-73.991834,Schermerhorn St & Court St,2017-07-01 00:00:08,2017-07-01 00:05:37,328,Subscriber
3,26066,1985.0,2017-07-01 00:00:11,398,40.691652,-73.999979,Atlantic Ave & Furman St,1,2002,40.716887,-73.963198,Wythe Ave & Metropolitan Ave,2017-07-01 00:00:11,2017-07-01 00:42:22,2530,Subscriber
4,29408,1982.0,2017-07-01 00:00:15,398,40.691652,-73.999979,Atlantic Ave & Furman St,2,2002,40.716887,-73.963198,Wythe Ave & Metropolitan Ave,2017-07-01 00:00:15,2017-07-01 00:42:29,2534,Subscriber

In [161]:
df.columns

Index([u'bikeid', u'birth year', u'date', u'end station id',
       u'end station latitude', u'end station longitude', u'end station name',
       u'gender', u'start station id', u'start station latitude',
       u'start station longitude', u'start station name', u'starttime',
       u'stoptime', u'tripduration', u'usertype'],
      dtype='object')

In [162]:
df['starthour'] = df['date'].dt.hour
df.head()

,bikeid,birth year,date,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype,starthour
0,14744,1986.0,2017-07-01 00:00:00,3107,40.723117,-73.952123,Bedford Ave & Nassau Ave,1,539,40.715348,-73.960241,Metropolitan Ave & Bedford Ave,2017-07-01 00:00:00,2017-07-01 00:06:05,364,Subscriber,0
1,19587,1981.0,2017-07-01 00:00:03,3425,40.789210,-73.943708,2 Ave & E 104 St,1,293,40.730207,-73.991026,Lafayette St & E 8 St,2017-07-01 00:00:03,2017-07-01 00:35:46,2142,Subscriber,0
2,27937,1984.0,2017-07-01 00:00:08,3397,40.676395,-73.998699,Court St & Nelson St,2,3242,40.691029,-73.991834,Schermerhorn St & Court St,2017-07-01 00:00:08,2017-07-01 00:05:37,328,Subscriber,0
3,26066,1985.0,2017-07-01 00:00:11,398,40.691652,-73.999979,Atlantic Ave & Furman St,1,2002,40.716887,-73.963198,Wythe Ave & Metropolitan Ave,2017-07-01 00:00:11,2017-07-01 00:42:22,2530,Subscriber,0
4,29408,1982.0,2017-07-01 00:00:15,398,40.691652,-73.999979,Atlantic Ave & Furman St,2,2002,40.716887,-73.963198,Wythe Ave & Metropolitan Ave,2017-07-01 00:00:15,2017-07-01 00:42:29,2534,Subscriber,0

In [163]:
#Splitting by category: DAY VS. NIGHT
df['day_night'] = np.where((df['starthour'] > 6)&(df['starthour'] < 20), 'day', 'night')

df.head()

,bikeid,birth year,date,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype,starthour,day_night
0,14744,1986.0,2017-07-01 00:00:00,3107,40.723117,-73.952123,Bedford Ave & Nassau Ave,1,539,40.715348,-73.960241,Metropolitan Ave & Bedford Ave,2017-07-01 00:00:00,2017-07-01 00:06:05,364,Subscriber,0,night
1,19587,1981.0,2017-07-01 00:00:03,3425,40.789210,-73.943708,2 Ave & E 104 St,1,293,40.730207,-73.991026,Lafayette St & E 8 St,2017-07-01 00:00:03,2017-07-01 00:35:46,2142,Subscriber,0,night
2,27937,1984.0,2017-07-01 00:00:08,3397,40.676395,-73.998699,Court St & Nelson St,2,3242,40.691029,-73.991834,Schermerhorn St & Court St,2017-07-01 00:00:08,2017-07-01 00:05:37,328,Subscriber,0,night
3,26066,1985.0,2017-07-01 00:00:11,398,40.691652,-73.999979,Atlantic Ave & Furman St,1,2002,40.716887,-73.963198,Wythe Ave & Metropolitan Ave,2017-07-01 00:00:11,2017-07-01 00:42:22,2530,Subscriber,0,night
4,29408,1982.0,2017-07-01 00:00:15,398,40.691652,-73.999979,Atlantic Ave & Furman St,2,2002,40.716887,-73.963198,Wythe Ave & Metropolitan Ave,2017-07-01 00:00:15,2017-07-01 00:42:29,2534,Subscriber,0,night

In [164]:
df.columns

Index([u'bikeid', u'birth year', u'date', u'end station id',
       u'end station latitude', u'end station longitude', u'end station name',
       u'gender', u'start station id', u'start station latitude',
       u'start station longitude', u'start station name', u'starttime',
       u'stoptime', u'tripduration', u'usertype', u'starthour', u'day_night'],
      dtype='object')

In [165]:
df.drop([u'starttime', u'stoptime', u'start station id',
       u'start station name', u'start station latitude',
       u'start station longitude', u'end station id', u'end station name',
       u'end station latitude', u'end station longitude', u'bikeid',
       u'usertype', u'birth year', u'gender'],axis=1, inplace=True)

In [166]:
df.columns

Index([u'date', u'tripduration', u'starthour', u'day_night'], dtype='object')

In [167]:
df.head()

                 date  tripduration  starthour day_night
0 2017-07-01 00:00:00           364          0     night
1 2017-07-01 00:00:03          2142          0     night
2 2017-07-01 00:00:08           328          0     night
3 2017-07-01 00:00:11          2530          0     night
4 2017-07-01 00:00:15          2534          0     night

In [168]:
#creating separate dataframes for day and night
dfDur_day = df[df.day_night == 'day']
dfDur_night = df[df.day_night == 'night']
dfDur_day.head()

                    date  tripduration  starthour day_night
1923 2017-07-01 07:00:04           861          7       day
1924 2017-07-01 07:00:17           225          7       day
1925 2017-07-01 07:00:18           288          7       day
1926 2017-07-01 07:00:33           485          7       day
1927 2017-07-01 07:00:41           107          7       day

In [179]:
#########################################################################

# KS Test Comparing Day and Night Durations
This section will begin running the KS test to show different distributions for day and night trip durations.

In [183]:
#converting day/night dataframes into arrays for KS analysis
valDay = dfDur_day['tripduration'].values
valNight = dfDur_night['tripduration'].values

## Hypothesis:
The trip durations during the day and the trip durations during the night are from the same distribution.

## Null Hypothesis ($H_0$) 
The trip durations during the day and the trip durations during the night are NOT from the same distribution.

$\alpha$ = 0.05

In [184]:
scipy.stats.ks_2samp(valDay, valNight)

Ks_2sampResult(statistic=0.034825785837608786, pvalue=0.0)

## RESULTS:
Results from the above analysis show that the p Value is exteremely low. Therefore we can rule out a null hypothesis if we assumed alpha value of 0.05.

In plain English, I would state that there is not an extreme difference in the distributions of trip durations between day trips and night time trips on citibikes throughout the month of July, 2017. This is suppored by the fact that the distance between the two plots using the KS Test are close in value, and the p Value is low.

# KS Test/200 Comparing Day and Night Durations on a Smaller Scale
This section will begin running the KS test to show different distributions for day and night trip durations as above, except it will use a smaller data set by a function of 200 times.

## Hypothesis:
The trip durations during the day and the trip durations during the night are from the same distribution.

## Null Hypothesis ($H_0$) 
The trip durations during the day and the trip durations during the night are NOT from the same distribution.

$\alpha$ = 0.05

In [185]:
#reducing df for day and night by a factor of 200
small_valDay = (len(valDay)/200)
small_valNight = (len(valNight)/200)

small_valDay = dfDur_day.sample(small_valDay, random_state = 4)
small_valNight = dfDur_night.sample(small_valNight, random_state = 4)

In [186]:
small_sample_valDay = small_valDay['tripduration'].values
small_sample_valNight = small_valNight['tripduration'].values

In [188]:
scipy.stats.ks_2samp(small_sample_valDay, small_sample_valNight)

Ks_2sampResult(statistic=0.0493854499024464, pvalue=6.8962573438892638e-06)

# RESULTS:
Results from the above analysis show that the p Value is exteremely low. Therefore we can rule out a null hypothesis if we assumed alpha value of 0.05.

In plain English, I would state that there is not an extreme difference in the distributions of trip durations between day trips and night time trips on citibikes throughout the month of July, 2017. This is suppored by the fact that the distance between the two plots using the KS Test are close in value, and the p Value is low.

In [206]:
#########################################################################

In [330]:
#taking 1/200th samples as numpy arrays to get data the same size

#using random seed
np.random.seed(999)

#using .choice funciton
day_array = np.random.choice(dfDur_day['tripduration'], size = 20000, replace=False)
night_array = np.random.choice(dfDur_night['tripduration'], size = 20000, replace = False)

In [331]:
#Sort arrays to prep for Pearson's and Spearman's Correlation tests:
day_array = np.sort(day_array)
night_array = np.sort(night_array)

# Pearson's Test Comparing Correlation Between Hour of Trip Origin and Trip Durations
This section will begin running the Pearson's Test to show the correlation between hour trip began and the trip duraiton.

## Hypothesis:
There is a correlation between start time and duration of a citibike trip.

## Null Hypothesis ($H_0$) 
There is NO correlation between start time and duration of a citibike trip.

$\alpha$ = 0.05

In [332]:
#run Pearson Test
scipy.stats.pearsonr(day_array, night_array)

(0.85865839996667592, 0.0)

## RESULTS:
Results from the above analysis show that the p Value is exteremely low. Therefore we can rule out a null hypothesis if we assumed alpha value of 0.05.

In [125]:
######################################################################

# Spearman's Test Comparing Correlation Between Hour of Trip Origin and Trip Durations
This section will begin running the Spearman's Test to show the correlation between hour trip began and the trip duraiton.

# Hypothesis:
There is a correlation between start time and duration of a citibike trip.

## Null Hypothesis ($H_0$) 
There is NO correlation between start time and duration of a citibike trip.

$\alpha$ = 0.05

In [210]:
scipy.stats.spearmanr(day_array, night_array)

SpearmanrResult(correlation=0.99999939758988843, pvalue=0.0)

# RESULTS:
Results from the above analysis show that the p Value is exteremely low. Therefore we can rule out a null hypothesis if we assumed alpha value of 0.05.

In [212]:
######################################################################

In [213]:
#Reset what 'df' is equal to
#CONCATENATION!
df3 = pd.concat([df1, df2], axis=0)

In [216]:
df3.columns

Index([u'bikeid', u'birth year', u'date', u'end station id',
       u'end station latitude', u'end station longitude', u'end station name',
       u'gender', u'start station id', u'start station latitude',
       u'start station longitude', u'start station name', u'starttime',
       u'stoptime', u'tripduration', u'usertype'],
      dtype='object')

In [218]:
df3.drop([u'bikeid', u'date', u'end station id',
       u'end station latitude', u'end station longitude', u'end station name',
       u'gender', u'starttime',
       u'stoptime', u'tripduration', u'usertype'],axis=1, inplace=True)

In [219]:
df3.head()

,birth year,start station id,start station latitude,start station longitude,start station name
0,1986.0,539,40.715348,-73.960241,Metropolitan Ave & Bedford Ave
1,1981.0,293,40.730207,-73.991026,Lafayette St & E 8 St
2,1984.0,3242,40.691029,-73.991834,Schermerhorn St & Court St
3,1985.0,2002,40.716887,-73.963198,Wythe Ave & Metropolitan Ave
4,1982.0,2002,40.716887,-73.963198,Wythe Ave & Metropolitan Ave

In [224]:
df3['age'] = 2017 - df3['birth year']

In [225]:
df3.head()

,birth year,start station id,start station latitude,start station longitude,start station name,age
0,1986.0,539,40.715348,-73.960241,Metropolitan Ave & Bedford Ave,31.0
1,1981.0,293,40.730207,-73.991026,Lafayette St & E 8 St,36.0
2,1984.0,3242,40.691029,-73.991834,Schermerhorn St & Court St,33.0
3,1985.0,2002,40.716887,-73.963198,Wythe Ave & Metropolitan Ave,32.0
4,1982.0,2002,40.716887,-73.963198,Wythe Ave & Metropolitan Ave,35.0

In [230]:
#import citibike feed info - to get station info in geo-specific format
import requests
resp = requests.get('https://feeds.citibikenyc.com/stations/stations.json')
resp = resp.json()

In [235]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()

In [239]:
geolocator.reverse("40.715, -73.96").raw['address']['county']

u'Kings County'

In [250]:
my_latlng = str(resp['stationBeanList'][0]['latitude']) + ",  " + str(resp['stationBeanList'][0]['longitude'])

In [252]:
geolocator.reverse(my_latlng).raw['address']['county']

u'New York County'

In [312]:
my_list = {}
for elem in df3['start station id'].unique():
    my_list[elem] = str(df3['start station latitude'][df3['start station id'] == elem].head(1).values[0]) + ", "\
    + str(df3['start station latitude'][df3['start station id'] == elem].head(1).values[0])

In [318]:
my_boro = {}
for elem in my_list:
    my_boro[elem] = geolocator.reverse(my_list[elem]).raw['address']['county']

SyntaxError: can't assign to function call (<ipython-input-318-06a1d5afe763>, line 3)

In [323]:
my_boro[72] = geolocator.reverse(my_list[72]).raw['address']['county']

GeocoderServiceError: HTTP Error 429: Too Many Requests

In [326]:
geolocator.reverse("40,-70").raw

GeocoderServiceError: HTTP Error 429: Too Many Requests

In [308]:
df3['start station latitude'][df3['start station id'] == 72].head(1).values[0]

40.767272159999997

In [259]:
len(resp['stationBeanList'])

811

In [261]:
for elem in my_latlng:
    print geolocator.reverse(elem).raw['address']['county']

ValueError: Must be a coordinate pair or Point